@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;700&family=Poppins:wght@200;400;600&display=swap');

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "nav" "header" "main" "footer";
    background-color: #181823;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: #EFF5F5;
}

ul {
    list-style-type: none;
    list-style-position: inside;
    margin-top: 0;
    padding: 0;
}

nav {
    grid-area: nav;
    display: flex;
    flex-direction: column;
}

.menu__item {
    background-color: #00425A;
    padding: .25em;
    text-align: center;
}

.menu__item:active {
    transition-duration: 0.2s;
    background-color: #1F8A70;
}

.titulo {
    grid-area: header;
    font-family: 'Belanosima', sans-serif;
    color: #1F8A70;
    text-shadow: 2px 2px 2px #EFF5F5;
    text-align: center;
}

main {
    grid-area: main;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "sec-1" "sec-2" "sec-3" "sec-4";
}

section {
    padding: .5em 1em;
    text-align: justify;
}

section h2 {
    font-family: 'Belanosima', sans-serif;
    text-align: center;
}

section h3 {
    margin: .5em 0;
    font-family: 'Belanosima', sans-serif;
    font-weight: 400;
}

.sec-1 {
    grid-area: sec-1;
    color: #00425A;
    background-color: #EFF5F5;
}

.sec-2 {
    grid-area: sec-2;
    background-color: #1F8A70;
}

.sec-3 {
    grid-area: sec-3;
    color: #00425A;
    background-color: #EFF5F5;
    font-size: large;
    font-weight: 600;
    text-align: center;
}

.sec-3 img {
    max-height: 10em;
    border-radius: 50%;
}

.sec-4 {
    grid-area: sec-4;
    background-color: #1F8A70;
}

.sec-4 article {
    background-color: #EFF5F5;
    padding: 1em;
    margin-top: 1em;
}

footer {
    font-size: small;
    grid-area: footer;
    background-color: #181823;
    color: #EFF5F5;
    padding: 1em;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 1em;
    align-items: center;
    text-align: center;
}

footer h4 {
    margin: 0;
    text-align: center;
}

.redes li {
    display: inline;
}

.form__titulo {
    color: #1F8A70;
    text-align: center;
}

.formulario {
    margin: 1em;
    padding: 1em;
    background-color: #EFF5F5;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

input, textarea, button {
    padding: .5em;
    font-family: 'Poppins', sans-serif;
}

label {
    font-weight: 600;
}

input:focus, textarea:focus {
    border: solid #FC7300;
}

button {
    background-color: #FC7300;
    color: #EFF5F5;
}

@media screen and (min-width: 768px) {   
    nav {
        position: sticky;
        top: 0;
    } 

    .menu {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: stretch;
    }

    .menu__item {
        text-align: center;
        flex: content;
    }

    .prop_container {
        display: grid;
        grid-template-columns: repeat(2, auto);
    }

    .sec-1 img, .sec-2 img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    footer {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .footer__item {
        min-width: 25%;
    }

    .redes li {
        display: block;
        padding-top: .5em;
    }

    .redes h4 {
        display: none;
    }

    .formulario {
        padding: 1.5em;
        margin: 1em 5em;
    }
}

@media screen and (min-width: 1200px) {
    .menu__item:hover {
        background-color: #1F8A70;
    }

    .menu__item:active {
        background-color: #FC7300;
    }
    
    header {
        background-image: url(../img/aula.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header h1 {
        color: #EFF5F5;
        text-shadow: 5px 5px #181823;
        font-size: 5em;
    }

    section {
        padding: 2em;
    }

    .sec-1, .sec-2 {
        display: grid;
        grid-template-columns: repeat(2, auto);
    }

    .sec-1 img, .sec-2 img {
        margin: none;
        width: 100%;
    }

    .sec-1 p, .sec-2 p {
        margin: 1em 3em;
        display: block;
    }

    .elij__item_2 {
        grid-column-start: 1;
        grid-row-start: 1;
    }
    
    .prop_container {
        grid-template-columns: repeat(4, auto);
        padding: 4em;
    }

    footer {
        align-items: flex-start;
        font-size: medium;
    }

    .redes h4 {
        display: block;
    }

    .form__titulo {
        font-size: 3em;
    }

    .formulario {
        padding: 2em;
        margin: 1.5em 10em;
    }

    button {
        opacity: 0.5;
    }

    button:hover {
        transition-duration: 0.2s;
        opacity: 1;
    }
}