@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;700&family=Poppins:wght@200;400;600&display=swap');

/* Paleta de colores: #FC7300 , #1F8A70 , #00425A , #181823, #EFF5F5; */

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "nav" "header" "main" "footer";
}

a {
    text-decoration: none;
    color: #EFF5F5;
}

ul {
    list-style-type: none;
    list-style-position: inside;
    margin-top: 0;
    padding: 0;
}

nav {
    grid-area: nav;
    display: flex;
    flex-direction: column;
}

.menu__item {
    background-color: #00425A;
    padding: .25em;
    text-align: center;
}

.menu__item:active {
    background-color: #1F8A70;
}

.titulo {
    grid-area: header;
    font-family: 'Belanosima', sans-serif;
    color: #1F8A70;
    text-align: center;
}

main {
    grid-area: main;
}

/* .sec-1 {
    grid-area: sec-1;
}

.sec-2 {
    grid-area: sec-2;
}

.sec-3 {
    grid-area: sec-3;
}

.sec-4 {
    grid-area: sec-4;
} */

footer {
    font-size: small;
    grid-area: footer;
    background-color: #181823;
    color: #EFF5F5;
    padding: 1em;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

footer h4 {
    margin: 0;
    text-align: center;
}

.redes li {
    display: inline;
}